
<html>
    <head>
        <title>Amandeep Kaur | Feedback Form</title>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="//cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>
        <link rel="shortcut icon" href="https://cdn1.iconfinder.com/data/icons/seo-internet-marketing-4-3/64/x-01-2-512.png">
        {% if status %}
          <script>
            alert('{{status}}');
          </script>
        {% endif %}
    </head>
    
    <body>
<div class='container'>
  <div class='row py-5'>
    <div class='col-md-12'>
      <h1 class='text-center'>Anonymous Feedback</h1>
      <hr/>
      <h4 class='text-center text-info'>Please tell me what you really think about me, honestly and anonymously</h4>
      <h5 class="text-center text-danger">Before starting tell me your name(Optional)</h5>
      <form method="post">
        {% csrf_token%}
      <div class='form-group my-3'>
        <textarea name="message" id='message' placeholder="Message Here"></textarea>
    		<script>
    			CKEDITOR.replace( 'message' );
    		</script>
        <span class='text-danger'></span>
      </div>
      <div class="form-group">
        <input type='submit' value='Submit' class='btn btn-success' />
      </div>
    </form>
    </div>
  </div>
</div>
</body>
</html>